
body{
    margin: 0;
}

.title{
background-color: darkcyan;
width: 100%;
color: white;
padding: 20px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;

}

.gallary{
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
    justify-content: center;

}

.card{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 300px;
    
    justify-content: center;
    align-items: center;
}

.card-title{
    
    background-color: darksalmon;
    color: white;
    text-transform: uppercase;
    width: 100%;
    padding: 10px 0;
    
    text-align: center;

}

.card-header img{
    width: 300px;
    height: 200px ;
    border: 1px solid darkcyan;

}

.card-summary{
    width: 95%;
    padding: 10px 0;
    text-indent: 20px;
    text-align: justify;
    
}